/*Section background*/
.but_portf {
    text-align: center;
    padding: 6% 0 6% 0;
}

.block_propos {
    width: 50%;
    padding:1% 25% 0 25%;
}

.contenu {
    padding-top:1% ;
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
}

.services {
    padding-left: 25%;
}

.block_propos h1 {
    text-align: center;
}

ul {
    padding-bottom: 5%;
}

/*Tableau*/
th, td {
   border: 1px solid #A5B4FC; 
   padding: 3%;
   width:400px;
   text-align: center;
}

table {
    border-collapse: collapse;
    margin:auto;
}

.tableau {
    padding-bottom:3%;
}